<section id="about" class="section-container mt-5">
  <div class="section">
    <span class="section__title">About me</span>
    <p class="mt-3 col section__description">
      I'm a <b>highly skilled software developer</b> with more than seven years
      of experience in <b>Python</b> and more than six years in <b>Django</b>.
      <br />
      My expertise extends to <b>Angular</b>, where I have worked for more than
      three years. <br />
      I'm an autodidact, always seeking to expand my knowledge and skills in the
      field of software development. <br />
      <b>I</b> have also had the opportunity to
      <b> lead a small team of two developers </b>, where we successfully
      migrated and refactored a deprecated part of the code at Chekin , a
      company that offers a solution to simplify and automate the check-in
      process for various providers such as Booking.com, Airbnb, and others with
      <b>more than 100 check-ins per month successfully handled</b>.
      <br />
      <b>I'm proactive, seeking out new challenges </b>and opportunities to
      improve my craft. <br />
      I have <b>worked</b> for a diverse range of companies
      <b> in Argentina, the USA, and Spain</b>, including
      <b>Moni, a Fintech</b> company that provides more than
      <b> 60,000 loans per year.</b> <br />
      I have also worked on <b>Examity, a software product</b> that provides an
      <b>anti-cheat</b> system for test-takers and is used by more
      <b>than 60 universities in the USA.</b>
      <br />
      I have also worked on <b>Venmo, a well-known wallet by PayPal.</b>
      <br /><br />
      In my free time,
      <b>
        I (really) love to play football with friends, spend time with my
        family, and develop new things just for fun.</b
      >
      <br />
      My passion for software development and
      <b>my drive to always improve</b> make me a valuable asset to
      <b>any team</b>.
    </p>
  </div>
</section>
