.navbar {
  background-color: var(--body-color) !important;
  border-bottom-style: solid;
  border-bottom-width: 0.1px;
  padding: 1rem;
}
.navbar-brand {
  &__name {
    font-size: 1.2rem;
  }
}

.active {
  color: var(--emphasis-color) !important;
}
.nav-link {
  color: white;
  font-weight: bold;
}
pre {
  margin-bottom: 0px;
}
