<section id="contact" class="section-container text-center">
  <div class="section pb-5 mt-3 ms-0">
    <span class="section__title">Contact</span>
    <div class="contact d-flex flex-column">
      <div class="mb-2">
        <i class="bi bi-envelope c-emphasis me-3"></i>
        <a class="my-auto" href="mailto: javier2mil8@gmail.com"
          >javier2mil8
          <span class="sf">@</span>
          gmail.com</a
        >
      </div>
      <div class="mb-2">
        <i class="bi bi-telephone c-emphasis me-3"></i>
        <a href="tel:+5493513175454">
          <span class="sf">+</span> 54 9 3513 17-5454
        </a>
      </div>
      <div class="mb-2">
        <i class="bi bi-geo-alt c-emphasis me-2"></i>
        <a
          target="_blank"
          href="https://www.google.com/maps/place/C%C3%B3rdoba/data=!4m2!3m1!1s0x9432985f478f5b69:0xb0a24f9a5366b092?sa=X&ved=2ahUKEwjn27PNupP9AhUHqZUCHej5DcwQ8gF6BAgNEAI"
          class="location c-white"
        >
          Cordoba, Argentina</a
        >
      </div>
    </div>
  </div>
</section>
