<section id="portfolio" class="section-container">
  <div class="section mb-5 mt-3">
    <span class="section__title">Portfolio</span>
  </div>
  <div class="d-xl-flex d-block">
    <div class="card p-3 mx-auto mb-5">
      <div class="card-body text-center d-flex flex-column">
        <h5 class="card-title">
          <b> <a target="_blank" href="https://moni.com.ar/">Moni Online</a></b>
        </h5>
        <p class="card-text my-auto">
          Argentinian Fintech that manages and grants more than 60,000 loans per
          year.
        </p>
        <div class="skills my-auto">
          <hr />
          <b
            >Python \ Django \ Angular <br />
            Celery \ Asyncio \ k8s <br />
            Docker \ Microservices <br />
            PostgreSQL \ DRF <br />
            GitLab Pipelines</b
          >
        </div>
      </div>
    </div>
    <div class="card p-3 mx-auto mb-5">
      <div class="card-body text-center d-flex flex-column">
        <h5 class="card-title mb-4">
          <b> <a target="_blank" href="https://chekin.com/">Chekin</a></b>
        </h5>
        <p class="card-text">
          A comprehensive travel technology platform that provides
          <b> online check-in and guest registration management services</b>
          with <b>more than 100 check-ins per month</b> successfully handled.
        </p>
        <div class="skills my-auto">
          <hr />
          <b
            >Python \ Django \ DRF <br />
            Celery \ RabbitMQ \ k8s <br />
            Docker \ Microservices <br />
            PostgreSQL \ GH Actions
          </b>
        </div>
      </div>
    </div>
    <div class="card p-3 mx-auto mb-5">
      <div class="card-body text-center d-flex flex-column">
        <h5 class="card-title">
          <b> <a target="_blank" href="https://www.examity.com/">Examity</a></b>
        </h5>
        <p class="card-text my-auto">
          Flexible and secure online proctoring system with
          <b>more than 500 clients</b> arround the world including universities.
        </p>
        <div class="skills my-auto">
          <hr />
          <b
            >Python \ Flask \ Angular <br />
            MSSQL \ Go \ Docker <br />
            Microservices \ GH Actions</b
          >
        </div>
      </div>
    </div>
    <div class="card p-3 mx-auto mb-5">
      <div class="card-body text-center d-flex flex-column">
        <h5 class="card-title">
          <b> <a target="_blank" href="https://venmo.com/">Venmo</a></b>
        </h5>
        <p class="card-text my-auto">
          Venmo is a popular peer-to-peer mobile payment platform that allows
          users to easily transfer money to friends and family. <br />
          As of 2021, Venmo processed an average of around
          <b>40 billion in transactions per year</b>, with daily transaction
          volume estimated to be in the hundreds of millions.
        </p>
        <div class="skills my-auto">
          <hr />
          <b
            >Python \ Flask \ Angular <br />
            MSSQL \ Go \ Docker <br />
            Microservices \ GH Actions</b
          >
        </div>
      </div>
    </div>
    <div class="card p-3 mx-auto mb-5">
      <div class="card-body text-center d-flex flex-column">
        <h5 class="card-title">
          <b>
            <a target="_blank" href="https://www.ticketek.com.ar/"
              >Ticketek</a
            ></b
          >
        </h5>
        <p class="card-text my-auto">
          Ticketek is an Argentinian company related to ticket sales. This
          company is part of <b>top 10</b> of sales ticket platform.
        </p>
        <div class="skills my-auto">
          <hr />
          <b
            >Python \ Django \ AngularJS <br />
            Redis \ Celery \ Ionic <br />
          </b>
        </div>
      </div>
    </div>
  </div>
  <br />
</section>
