.section-container {
  background-color: var(--alternative-body-color);
}

.card {
  background-color: var(--body-color);
  color: white;
}
.card-title a {
  color: white !important;
}
.card-text {
  b {
    text-decoration: underline;
  }
}
