<app-scroll-to-top></app-scroll-to-top>
<app-navbar></app-navbar>
<section class="custom-container c-white mt-5 row">
  <div class="col-md-6 col">
    <pre class="code code__html"> &lt;/html&gt; </pre>
    <pre class="code code__body"> &lt;body&gt; </pre>
    <pre class="code code__h1"> &lt;h1&gt; </pre>
    <div id="hello">
      <h1>
        Hello, <br />
        I'm <span> Javier</span>, <br />
      </h1>
      <h1>Python Developer</h1>
    </div>
    <pre class="code code__h1"> &lt;h1/&gt; </pre>
    <div class="content">
      <pre class="code code__p"> &lt;p&gt; </pre>
      <span class="full-stack-developer">full stack developer</span>
      <pre class="code code__p"> &lt;p/&gt; </pre>
    </div>
    <div class="download-cv mt-5 ms-5">
      <a download href="assets/javier_verblud_cv.pdf" class="custom-btn"
        >View my CV</a
      >
      <a
        class="ms-5 c-emphasis"
        href="https://calendly.com/javierverb/lets-talk"
        >Booking</a
      >
    </div>
  </div>
  <div class="profile-img content text-center col-6 d-none d-lg-block">
    <img
      src="assets/img/profile-v2.png"
      class="rounded img-fluid"
      alt="Profile image"
    />
  </div>
</section>
<hr />
<app-portfolio></app-portfolio>
<app-about></app-about>
<app-contact></app-contact>
<footer class="c-white text-center">Made with ❤️ by <b>me</b> 😉</footer>
